/* line 1, main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 14, main.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/* line 20, main.scss */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
/* line 25, main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
/* line 33, main.scss */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* line 39, main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* line 44, main.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* line 49, main.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
/* line 55, main.scss */
.marketing {
  margin: 40px 0;
}

/* line 59, main.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 65, main.scss */
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  /* line 72, main.scss */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* line 78, main.scss */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 83, main.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
/* okp edit */
/* line 90, main.scss */
.parallax {
  height: 100vh;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 96, main.scss */
.parallax__group {
  height: 100vh;
  position: relative;
}

/* line 100, main.scss */
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* --- transform with z --- */
/* line 109, main.scss */
.parallax__layer--base {
  transform: translateZ(0);
}

/* line 113, main.scss */
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

/* line 117, main.scss */
.parallax__layer--back2 {
  transform: translateZ(-2px) scale(3);
}

/* line 121, main.scss */
.parallax__layer--back3 {
  transform: translateZ(-3px) scale(4);
}

/* --- transform with z end --- */
/* --- fixed background --- */
/* line 128, main.scss */
.parallax__layer--fixed_bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* line 135, main.scss */
.parallax__layer--fixed_bg1 {
  background-image: url("../images/ocean1.jpg");
}

/* line 139, main.scss */
.parallax__layer--fixed_bg2 {
  background-image: url("../images/ocean2.jpg");
}

/* line 143, main.scss */
.parallax__layer--fixed_bg3 {
  background-image: url("../images/ocean3.jpg");
}

/* line 147, main.scss */
.parallax__layer--fixed_bg4 {
  background-image: url("../images/ocean4.jpg");
}

/* line 151, main.scss */
.parallax__layer--fixed_bg5 {
  background-image: url("../images/ocean5.jpg");
}

/* line 155, main.scss */
.parallax__layer--fixed_bg6 {
  background-image: url("../images/ocean6.jpg");
}

/* line 159, main.scss */
.parallax__layer--fixed_bg7 {
  background-image: url("../images/ocean7.jpg");
}

/* --- fixed background end --- */
