/* line 3, ../sass/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
/* line 11, ../sass/main.scss */
body {
  font-family: 'Antic', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 16, ../sass/main.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/* line 24, ../sass/main.scss */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
/* line 29, ../sass/main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
/* line 37, ../sass/main.scss */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* line 43, ../sass/main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* line 48, ../sass/main.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* line 53, ../sass/main.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
/* line 59, ../sass/main.scss */
.marketing {
  margin: 40px 0;
}

/* line 63, ../sass/main.scss */
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 69, ../sass/main.scss */
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  /* line 74, ../sass/main.scss */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* line 82, ../sass/main.scss */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 87, ../sass/main.scss */
  .jumbotron {
    border-bottom: 0;
  }
}
/* okp edit */
/* line 94, ../sass/main.scss */
.parallax {
  height: 100vh;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 100, ../sass/main.scss */
.parallax__group {
  height: 100vh;
  position: relative;
}

/* line 104, ../sass/main.scss */
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* --- transform with z --- */
/* line 113, ../sass/main.scss */
.parallax__layer--base {
  -moz-transform: translate3d(0);
  -ms-transform: translate3d(0);
  -webkit-transform: translate3d(0);
  transform: translate3d(0);
}

/* line 117, ../sass/main.scss */
.parallax__layer--forward {
  -moz-transform: translate3d(0, 0, 1px) scale(0.5);
  -ms-transform: translate3d(0, 0, 1px) scale(0.5);
  -webkit-transform: translate3d(0, 0, 1px) scale(0.5);
  transform: translate3d(0, 0, 1px) scale(0.5);
}

/* line 121, ../sass/main.scss */
.parallax__layer--back {
  -moz-transform: translate3d(0, 0, -1px) scale(2);
  -ms-transform: translate3d(0, 0, -1px) scale(2);
  -webkit-transform: translate3d(0, 0, -1px) scale(2);
  transform: translate3d(0, 0, -1px) scale(2);
}

/* line 125, ../sass/main.scss */
.parallax__layer--back2 {
  -moz-transform: translate3d(0, 0, -2px) scale(3);
  -ms-transform: translate3d(0, 0, -2px) scale(3);
  -webkit-transform: translate3d(0, 0, -2px) scale(3);
  transform: translate3d(0, 0, -2px) scale(3);
}

/* line 129, ../sass/main.scss */
.parallax__layer--back3 {
  -moz-transform: translate3d(0, 0, -3px) scale(4);
  -ms-transform: translate3d(0, 0, -3px) scale(4);
  -webkit-transform: translate3d(0, 0, -3px) scale(4);
  transform: translate3d(0, 0, -3px) scale(4);
}

/* --- transform with z end --- */
/* --- fixed background --- */
/* line 136, ../sass/main.scss */
.parallax__layer--fixed_bg {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

/* line 146, ../sass/main.scss */
.parallax__layer--fixed_bg1 {
  background-image: url("../../images/ocean1.jpg");
}

/* line 150, ../sass/main.scss */
.parallax__layer--fixed_bg2 {
  background-image: url("../../images/ocean2.jpg");
}

/* line 154, ../sass/main.scss */
.parallax__layer--fixed_bg3 {
  background-image: url("../../images/ocean3.jpg");
}

/* line 158, ../sass/main.scss */
.parallax__layer--fixed_bg4 {
  background-image: url("../../images/ocean4.jpg");
}

/* line 162, ../sass/main.scss */
.parallax__layer--fixed_bg5 {
  background-image: url("../../images/ocean5.jpg");
}

/* line 166, ../sass/main.scss */
.parallax__layer--fixed_bg6 {
  background-image: url("../../images/ocean6.jpg");
}

/* line 170, ../sass/main.scss */
.parallax__layer--fixed_bg7 {
  background-image: url("../../images/ocean7.jpg");
}

/* --- fixed background end --- */
/* --- text parallax --- */
/* line 176, ../sass/main.scss */
.parallax__txt_wp_left {
  position: absolute;
  top: 20%;
  left: 10%;
}
/* line 180, ../sass/main.scss */
.parallax__txt_wp_left.parallax__txt_wp_left1 {
  -moz-transform: translate3d(-300px, 0, -3px) scale(4);
  -ms-transform: translate3d(-300px, 0, -3px) scale(4);
  -webkit-transform: translate3d(-300px, 0, -3px) scale(4);
  transform: translate3d(-300px, 0, -3px) scale(4);
}
/* line 183, ../sass/main.scss */
.parallax__txt_wp_left.parallax__txt_wp_left3 {
  -moz-transform: translate3d(0, 300px, -2px) scale(3);
  -ms-transform: translate3d(0, 300px, -2px) scale(3);
  -webkit-transform: translate3d(0, 300px, -2px) scale(3);
  transform: translate3d(0, 300px, -2px) scale(3);
}

/* line 187, ../sass/main.scss */
.parallax__txt_wp_right {
  position: absolute;
  top: 20%;
  right: 10%;
}
/* line 191, ../sass/main.scss */
.parallax__txt_wp_right.parallax__txt_wp_right1 {
  -moz-transform: translate3d(0, 300px, -1px) scale(2);
  -ms-transform: translate3d(0, 300px, -1px) scale(2);
  -webkit-transform: translate3d(0, 300px, -1px) scale(2);
  transform: translate3d(0, 300px, -1px) scale(2);
}

/* line 196, ../sass/main.scss */
.parallax__txt {
  color: #fff;
  font-size: 20px;
}

/* line 201, ../sass/main.scss */
.parallax__txt_left1 {
  /* margin: 0 0 0 -100%; */
}

/* line 205, ../sass/main.scss */
.parallax__txt_right1 {
  /* margin: 0 0 -300% 0; */
}

/* --- text parallax end --- */
/* --- nav --- */
/* line 212, ../sass/main.scss */
.parallax__nav {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
}
/* line 218, ../sass/main.scss */
.parallax__nav li {
  margin-bottom: 5px;
}
/* line 220, ../sass/main.scss */
.parallax__nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
/* line 224, ../sass/main.scss */
.parallax__nav li a:hover {
  color: #fff;
  text-decoration: underline;
}

/* --- nav end --- */
/* line 234, ../sass/main.scss */
.sorry {
  display: none;
}

@media screen and (max-width: 640px) {
  /* line 239, ../sass/main.scss */
  .parallax {
    display: none;
  }

  /* line 242, ../sass/main.scss */
  .sorry {
    display: block;
    width: 100vw;
    height: 100vh;
    background: #3E95C1;
  }
  /* line 247, ../sass/main.scss */
  .sorry .parallax__nav {
    margin: -35px 0 0 0;
  }
  /* line 250, ../sass/main.scss */
  .sorry .sorry__txt {
    margin-bottom: 10px;
  }
}
